@model IEnumerable<Workers>
@{
    ViewData["Title"] = "Index";
    ViewData["activeTab"] = "Worker";
    int allWorkerCount = (int)ViewData["allWorkerCount"];
    int activePage = (int)ViewData["activePage"];
    int allPageCount = (int)(Math.Ceiling(((decimal)allWorkerCount / 3)));
}

<a asp-action="Create" asp-controller="Worker" asp-area="Admin" class="btn btn-lg btn-block btn-primary w-100 text-capitalize">Create</a>
<table class="table table-bordered table-striped table-hover w-100">
    <thead class="text-center">
        <tr>
            <th></th>
            <th>Image</th>
            <th>Name</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Admin/Worker/Deatil/@item.Id" class="btn btn-success">
                        <i class="material-icons">remove_red_eye</i>
                    </a>
                    <a href="/Admin/Worker/Edit/@item.Id" class="btn btn-warning">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="/Admin/Worker/Delete/@item.Id" class="btn btn-danger">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
                <td><img src="~/image/@item.Image" width="150" alt="Alternate Text" /></td>
                <td>@item.Name</td>
                <td>@item.Job</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" style="margin: auto;">
    <ul class="pagination">
        <li class="page-item @(activePage == 1 ? "d-none" : "")">
            <a class="page-link" href="/Admin/Worker/Index?page=@(activePage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= allPageCount; i++)
        {
            <li class="page-item @(activePage == i ? "active" : "")"><a class="page-link" href="/Admin/Worker/Index?page=@i">@i</a></li>
        }
        <li class="page-item @(activePage == allPageCount ? "d-none" : "")">
            <a class="page-link" href="/Admin/Worker/Index?page=@(activePage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>